[2020-05-27 06:16] xiongyu0523 opened #3 "Build error for default example project in GUIX studio"
Latest VS 2019. GUIX Studio is installed. Double click a example project .sln under Build and start build. I got following error.
[code]

[2020-05-27 19:51] jdeere5220 commented on #3
Hello xiongyu0523- Visual Studio contains (or doesn't include) many different compilers and tools. From your error message, it doesn't look like the C compiler has been installed. If you use Help|About, you should see a list of the installed components:
![vs_help_about](https://user-images.githubusercontent.com/65032143/83065664-dd9b3700-a031-11ea-94d4-ca0c6090f620.png)

[2020-05-28 09:40] xiongyu0523 commented on #3
Appreciate for your help.

I have this show up but I did not install Desktop C++ toolchain before. After install this component, everything is fine.

[2020-05-28 09:40] #3 closed

[2020-05-28 18:43] BonfaceKilz opened #4 "Naming conflict with GNU GUIX"
I don't know where else to post this; but hasn't the GUIX name already been taken by https://guix.gnu.org/. Coming from that ecosystem, it's abit confusing when I stumbled across this whilst trying to solve some guix(read gnu) related problems. Perhaps(though I bet highly unlikely but it doesn't hurt to try) a rename? You can close this anytime :shrug:

[2020-05-29 13:30] danielcesarini opened #5 "Where can I find the installer for GUIX Studio?"

[2020-05-29 15:33] jdeere5220 commented on #5
https://aka.ms/azrtos-guix-installer  Scroll down to Assets, select the Studio_setup_[version]_[date} link.

[2020-05-29 15:33] #5 closed

[2020-05-29 15:34] jdeere5220 commented on #4
Unlikely to be able to change the name at this point. GUIX was actually initially release in 2012 I believe.

[2020-05-29 15:34] #4 closed

[2020-07-24 09:48] Littlecousin opened #6 "use guix with imx.rt1052"
Hello, l try to use guix with rt1052,but i don't find some examples.

[2020-07-24 21:04] goldscott commented on #6
We're not going to create examples for every dev board out there, but there are examples here for the RT1060: https://github.com/azure-rtos/samples

RT1052 should be pretty similar.

[2020-07-24 21:04] #6 closed

[2020-09-24 03:05] zjm1060 opened #7 "keys operation support"
I am evaluating the use of GUIX as a user interface in a new project，Our device does not have a touch screen, only a cross button and a few function buttons，Can GUIX support key-based operations, such as switching of widgets focus, input methods, etc.

[2020-09-24 17:02] goldscott commented on #7
Hi @zjm1060 - GUIX can support any input method you choose (touchscreen, keyboard, mouse, buttons, etc). GUIX is event-based - so you can send it key-down (button-down) and key-up (button-up) events and it will act on them.

[2020-09-27 04:07] #7 closed

[2020-11-17 07:21] Infinity2013 opened #8 "Could you make GUIX Studio open or offer plugin feature to extend custom widgets?"
Dear all,
    All I want is an available way to add custom widgets to studio.

[2020-11-18 19:04] goldscott commented on #8
Adding support for custom user-defined widgets is in our backlog.

[2020-11-18 19:04] #8 closed

[2020-11-25 03:00] XuNeo opened #9 "Reverse byte order option for GUIX Studio"
Hi,
I'm using SPI interface LCD with 16bit RGB565 pixel format. When 16bit data sent to LCD controller, the most efficient way is  send block of pixel data byte by byte using DMA. So the it would be better to have option to reverse the byte order of 16bit pixel data.

GUIX Studio has a checkbox "reverse byte order", however, it turns out to change RGB565 to BGR565.
For source code, there are macro

[2020-11-25 16:41] jdeere5220 commented on #9
Hello XuNeo,

Yes, it's intentional that this option converts to BGR order, that's the hardware requirement that we have sometimes seen. To reverse the bytes as you describe sounds like more of a big-endian/little endian type change. Did you try turning on the BigEndian option?

I will enter a task to review the low-level functions and be sure they are using the ASSEMBECOLOR macro as they should.

[2020-11-26 07:10] XuNeo commented on #9
Hi Ken @jdeere5220 ,

Yes, I have tried the BigEndian option. But it won't work:

1. For compressed bitmap, it definitely won't work because data is not the original bitmap.
2. For non-compressed bitmap, it doesn't work and it seems like GUIX Studio's bug. The generated data won't change whether Big Endian box checked or not.

Ideally, GUIX Studio generates desired format of resources and source c

[2020-11-29 15:55] jdeere5220 commented on #9
Hello XuNeo,

OK I will put this on our roadmap to support this format. I'm not sure how quickly we will be able to get to it, there are a few other things in front.

Best Regards,

Ken

[2020-12-15 02:52] mwmy2009 opened #11 "framelist of sprite is wrong when using GUIX studio 6.1.0.0"
Hi

It might be a bug. When I create a sprite and define the frame list in GUX studio, the pixelmap ids shown in studio doesn't match those in the auto generated code. I hope you notice it and fix it in the next version.

BTW, about when the next version of GUIX studio is going to be released?

Best Regards
Wesley Fan

[2020-12-20 11:40] armembedded opened #12 "Problem in executing using GUIX studio 6.1.0.0 in windows OS"
I installed GUIX studio 6.1.0.0 in the windows operating system but the program does not start and display an error.

how to resolve these issues?

error message title:
The procedure entry point UiaDisconnectProvider could not be located in the dynamic link library UIAutomationCore.DLL

[2020-12-22 15:09] jltrahan-2020 commented on #11
I second this bug...  It's been around since at least v5.5 or 5.6 of GUIX Studio (back before the MS acquisition.)  As Wesley reported above, GUIX Studio generates the wrong indices in the framelist.  The GX_SPRITE_FRAME array of frames have the wrong pixelmap id in the specifications.h file.  This shows in both the GUIX Studio interface, and the target compiled code.

The obvious workaround is to

[2020-12-22 16:36] jdeere5220 commented on #11
Can you tell me what version of GUIX Studio you are using? I will look into this. We have several sprite based regression tests in place that are not exhibiting this issue so we will have to figure out what causes this to happen. The next GUIX Studio update is set for the end of this month, and we will do our best to duplicate this issue and resolve it for the next update. GUIX Studio is moving to

[2020-12-22 16:52] jltrahan-2020 commented on #11
As the subject of the issue indicates, this is on the latest version 6.1.0.0.  I will send a private email with an example GUIX project.

[2020-12-22 19:44] jltrahan-2020 commented on #11
@jdeere5220 Can you confirm that you received a private mail with a sample project?  I've even created another one from scratch using 6.1.0.0, thinking that importing an older .gxp file (generated by GUIX 5.5) would cause the issue, but even a fresh new project does not generate the correct pixelmap id's in the frame array.

[2020-12-23 16:37] jdeere5220 commented on #11
@jltrahan-2020 Sorry I did not notice the thread title contained the version information. I did not receive a private email but I am looking into the issue. We will try to have it fixed for our end-of-this-month release.

[2020-12-23 16:41] jdeere5220 commented on #12
Can you provide your complete Windows version information please? Thank you!

[2020-12-23 16:56] jltrahan-2020 commented on #11
Looking forward to test it.  Let me know if you need me to do so.

Jean-Luc

From: Ken Maxwell <notifications@github.com>
Sent: December 23, 2020 11:38
To: azure-rtos/guix <guix@noreply.github.com>
Cc: Jean-Luc Trahan <jltrahan@geckoal.com>; Mention <mention@noreply.github.com>
Subject: Re: [azure-rtos/guix] framelist of sprite is wrong when using GUIX studio 6.1.0.0 (#11)

@jltrahan-2020<https://

[2020-12-23 16:57] jltrahan-2020 commented on #11
Let me know if you need someone to test the correction.  I'll take a look here once in a while during the Holidays.

Thanks!

[2020-12-24 19:49] jdeere5220 commented on #12
I believe this error is caused by running an old version of Windows. You need to run minimum Windows 8, and starting next year Windows 10.

[2020-12-24 20:28] jdeere5220 commented on #11
@jltrahan-2020 we have reproduced the issue and fixed it (and added a new test to be sure it never comes back). The fix will be in our next Studio release, which I believe will be 6.1.3.0, early January.

[2020-12-26 08:41] armembedded commented on #12
Windows 7 ultimate

[2020-12-28 10:59] geek-slt opened #13 "circular_gauge Control error"
GUIX version: 6.1.0
Windows： windows10 x64
question：
I used GUIX Studio to create a display page with progress bar, buttons and other controls. These controls can be controlled normally, but when I use the circle_gauge control, there is a problem. I change the angle of the needle every once in a while, and then read Angle, the angle value will change, but no needle is displayed on the screen. The

[2020-12-30 15:25] jdeere5220 commented on #11
@jltrahan-2020 just a side note, we did have a regression test in place for this code generation, but it turns out the test was in this case completely useless. The test project included only pixelmaps used in the sprite, and they were defined in alphabetical order, and used in alphabetical order, so of course the generated output was, in this case, correct. We have greatly improved the test going

[2021-01-04 14:15] jltrahan-2020 commented on #11
Thanks Ken, we look forward to using the update version!

[2021-01-04 14:52] jdeere5220 commented on #13
This can be caused by using a compressed pixelmap for the needle image. The gauge performs runtime pixelmap rotation to rotate the gauge needle, and runtime rotation can only be done on uncompressed image. Right click on the image in GUIX Studio, Edit Settings, and make sure the "compress" option is turned off.

If that isn't the problem please get back to me and if possible attach your project.

[2021-01-04 17:03] jdeere5220 commented on #12
Yes, you will need to update to Windows 10 to run GUIX Studio and TraceX applications.

[2021-01-05 13:48] geek-slt commented on #13
It seems that the needle can be displayed normally, but there are some residual images. I will continue to check. I am very interested in ThreadX and GUIX. Can I continue to ask you if I encounter problems later

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "azure-rto

[2021-01-06 17:37] jdeere5220 commented on #13
Yes, of course, we are here to help. Send me your project and your images if you aren't able to resolve the problem so that I can dig into it. Another option is to compare your usage with our samples that use the circular gauge control.

[2021-01-25 09:28] WeizhongFan opened #15 "2bpp font support"
For device that has very limited storage, even 4bpp font may result in a large resource bin file. Is it possible to add 2bpp font support in guix source and studio?

[2021-01-25 15:56] jdeere5220 commented on #15
It's a reasonable request. I have added this request to our feature backlog, but I can't give you an estimate as to when we would be able to get to this. Can you tell me a little more about your project, your target hardware, and what color depth you are using?

[2021-01-28 22:26] yuxin-azrtos commented on #13
@geek-slt are you able to share your project with @jdeere5220?  Looking forward to your feedback.

[2021-01-28 22:27] yuxin-azrtos commented on #12
Looks like this issue is resolved.  Close it.  Feel free to reopen it if you have additional comments or feedback. Thanks!

[2021-01-28 22:27] #12 closed

[2021-01-28 22:28] yuxin-azrtos commented on #9
Close this issue.

[2021-01-28 22:28] #9 closed

[2021-01-29 16:26] yuxin-azrtos commented on #11
Hi @jltrahan-2020 we have released an updated GUIX Studio you can find at https://aka.ms/azrtos-guix-installer

Let us know if the newer version fixes the problem. Thanks!

[2021-01-29 16:27] jltrahan-2020 commented on #11
Yes, the issue is fixed.

From: yuxin-azrtos <notifications@github.com>
Sent: January 29, 2021 11:27
To: azure-rtos/guix <guix@noreply.github.com>
Cc: Jean-Luc Trahan <jltrahan@geckoal.com>; Mention <mention@noreply.github.com>
Subject: Re: [azure-rtos/guix] framelist of sprite is wrong when using GUIX studio 6.1.0.0 (#11)

Hi @jltrahan-2020<https://can01.safelinks.protection.outlook.com/?url=http

[2021-01-29 16:28] yuxin-azrtos commented on #11
Thanks!

[2021-01-29 16:28] #11 closed

[2021-01-31 06:15] geek-slt commented on #13
Ok&nbsp;
Thank you very much, I will do as you say

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "azure-rtos/guix"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2021年1月29日(星期五) 上午6:26
收件人:&

[2021-02-05 04:26] yuxin-azrtos commented on #15
This issue is now tracked internally. Close it.

[2021-02-05 04:26] #15 closed

[2021-02-26 17:24] jltrahan-2020 opened #16 "GUIX Studio default pixelmap directory"
Hi,

I recently had to re-install various things on my work PC, including GUIX Studio.  When I download 6.1.4.0 (the current version in the MS Store), it wants to install in C:\Azure_RTOS\GUIX-Studio-6.1 (note the "dashes".)  However, my existing GXP files actually point to C:\Azure_RTOS\GUIX_Studio_6.1 (note the "underscores".)  Was this default location changed at some point?  This breaks the bu

[2021-02-26 20:36] jdeere5220 commented on #16
I'm a little bit confused by your comment. When you install GUIX Studio from the App Store, you really don't have an option where the app itself will be installed. The Windows installer takes care of that. Where previously the GUIX Studio installer copied example projects and default images to a directory of your choosing, now GUIX Studio prompts you to clone the GUIX git repo to your local machin

[2021-02-26 20:45] jdeere5220 commented on #16
@jltrahan-2020 could you please also provide the details of what is meant by "When I download 6.1.4.0"?  Do you mean you open the MS Store app, search for GUIIX, and click the "Get" button for GUIX Studio, or are you using some other method? I just want to clarify how you may have installed a rather odd trial version of GUIX Studio, if that is even the case.

[2021-02-26 20:54] jltrahan-2020 commented on #16
That is correct, I used the MS Store, searched for GUIX, and then installed GUIX Studio that was found.  This installs 6.1.4.0.  Sorry, I used the term "download", but you are right, it was through the MS Store.

You are also correct about the installation directory, I don't have the option of choosing.  When I reinstalled GUIX Studio this morning, it installed the system png files under C:\Azure_

[2021-02-26 22:43] jdeere5220 commented on #16
@jltrahan-2020 let me investigate and get back to you. I understand that the old "Studio Relative" path to the system png files needs to be updated, I'm sorry for that inconvenience. But the part about Azure_RTOS\GUIX-Studio-6.1 is still not clear, I don't know why you are having this path created. When you first run GUIX Studio, does it prompt you to automatically clone the GUIX git repo? The fir

[2021-02-26 22:46] jdeere5220 commented on #16
@jltrahan-2020 actually if the git clone operation is working as expected, GUIX Studio will make registry entries to locate the new system_png folder. So you actually should not have to update any old project files. We do try hard not to break things. It still feels to me like the Store is not giving you the latest version, and I don't have much control over that unfortunately.

[2021-02-26 23:42] jltrahan-2020 commented on #16
I just tested again.  I uninstalled GUIX Studio (accessible with right-click in the Start Menu.)  I also had to manually uninstall the Azure_RTOS directory as it's not removed automatically.  I then reinstalled GUIX Studio (using the MS Store.)  It installs 6.1.4.0.  When I first run it, it asks me if I want to Clone GUIX Repo, to which I click "I do not want to download samples at this time", as

[2021-02-27 21:52] jdeere5220 commented on #16
Thanks so much or your feedback. I understand now what is happening. I will look into what we can do to improve this experience.

[2021-03-02 13:26] jdeere5220 commented on #16
@jltrahan-2020 We have added a task internalize these images so that no external path is needed. We will also confirm they can be removed from the application when not needed. Since we have added these tasks to our backlog I will close this issue, expect to see these changes in the near future.

[2021-03-02 13:26] #16 closed

[2021-03-02 13:26] jdeere5220 commented on #13
No additional feedback, I will assume the suggestion fixed the issue reported.

[2021-03-02 13:26] #13 closed

[2021-03-11 15:53] StefanHengeleinLumira opened #17 "Custom resource file for Fonts [Question]"
Our resource file is currently at 138MB (167MB with the latest version of GUIX studio) and we've seen an out of memory issue in our customers CI when compiling. So I was looking into splitting the file up to make it faster to compile and avoid issues in the CI.

I've found the following text in the current documentation (similar to the documentation of the GUIX version we're actually using):

I di

[2021-03-11 21:06] jdeere5220 commented on #17
Hmmm... look like this was never implemented for fonts, I'm not sure why. I've added this task to the backlog. It may make it into the April update, but I can't promise that we have a pretty full task list for this update already.

[2021-03-25 12:39] thilofrank opened #18 "Partial Framebuffers"
Is GuiX able to handle Partial Framebuffers like TouchGFX?
Partial Framebuffers is a concept with at least two buffers. While one is transfered to the display, the others can be rendered and written. That works like a fifo and reduces the amount of needed RAM, because instead of a full screen framebuffer, two (or three) very small framebuffers are used.

[2021-03-25 12:43] jdeere5220 commented on #18
Hello @thilofrank,

Support for this method of visible frame buffer update is in our task backlog and will be implemented for an upcoming update. Can you tell me, are you using  a self-refresh display with internal GRAM? Just curious.

[2021-03-25 12:49] thilofrank commented on #18
I use an ILI9341 spi display controller, that has GRAM included.

[2021-03-25 12:59] thilofrank commented on #18
The documentation mentions Ping-Pong-Framebuffers. Is this the same?

[2021-03-25 13:12] jdeere5220 commented on #18
Regarding GRAM- perfect. Regarding Ping-Pong buffers, related but not exactly the same. GUIX currently supports full frame-buffer size ping-pong buffers, so the application is writing to and updating the working buffer while the LCD refresh circuitry operates out of the visible buffer. This is really intended for architectures without self-refresh, i.e. the MCU  or external LCD controller is conti

[2021-03-25 14:29] thilofrank commented on #18
The ILI9341 has a command to set its windows (x,y,w,h). If a partial framebuffer helds all data w/o the non-dirty areas, it can be flushed in one shoot. Is this your idea for the future?

[2021-04-12 01:20] ting-ms commented on #17
This feature has been added in GUIX Studio version 6.1.6.1.

[2021-04-21 06:26] yuxin-azrtos commented on #17
@StefanHengeleinLumira please the link https://aka.ms/azrtos-guix-installer to install the latest GUIX Studio.  Let us know if the new version addresses your issue. Thanks!

[2021-04-28 19:29] Merc359 opened #19 "Circular gauge doesn't display correctly"
Hi,
I'm currently working on an interface that already has many windows (more than 30).
As soon as I add a cicular gauge widget (size 100px by 100 px) and change window and go back it colapse to a tiny little 2px by 2px.
Even though the data displays 100px by 100 px. This is purely through the use of the guix interface.

Thank you.
![guix_bug_blur](https://user-images.githubusercontent.com/8337074

[2021-04-28 20:14] jdeere5220 commented on #19
Hmmm that's interesting. I did a quick test to try and duplicate the issue, but so far it works fine. When I switch between window and window_1, nothing strange happens. I also tried this with samples/guix_widget_types.gxp, which includes a circular gauge window, and that also seems to come back fine. I can't see all of your gauge properties in your screen shot, can you compare your gauge to the g

[2021-04-28 20:27] jdeere5220 commented on #19
@Merc359 tag you to be sure you see reply above.

[2021-04-29 14:08] Merc359 commented on #19
Hi,

Here is the problem in video.
Thanks

https://user-images.githubusercontent.com/83370744/116564187-be0c2e80-a8d2-11eb-8292-ac42e9bcaac9.mp4

[2021-04-29 15:39] jdeere5220 commented on #19
@Merc359  I was able to reproduce the problem. We will fix it asap and push a new Studio release. For a work-around, I believe if you assign a background image to the gauge this will not happen. The issue is caused by the circular gauge attempting to auto-resize to fit the gauge background image. If there is no background image the gauge becomes very small.

[2021-04-29 15:56] Merc359 commented on #19
That is good news. I will assign a background like you've suggested until the fix is released.
Thank you for the quick response and have a good day.

[2021-05-10 08:52] oguzhankucuksahin opened #20 "gx_display_driver_32argb_pixalmap_compressed_alpha_write function takes too long [Question]"
Hello,

_gx_display_driver_32argb_compressed_alpha_write function is taking too long. Over 1 second.

The thing is, I am completely redrawing all the display when a change occurs. I generate a REDRAW event from a thread and this event is passed to the GUIX thread via its queue. (I am not using the custom event handlers or draw functions from GUIX studio.) Therefore, I need to send the REDRAW event

[2021-06-07 18:46] RickMenza opened #21 "How drawing gradient color"
Hi,
I want to draw a slider using gradient color (black to a color returning by the application).
Since I don't know which color will be used by the application, I need to creat it at runtime.

I think I should use the gx_utility_gradient_create function but I don't know how to use it and draw a pixelmap containing my gradient color.

Is someone has a code snippet exemple to help me how to do?
Tha

[2021-06-07 20:02] jdeere5220 commented on #21
Hello @RickMenza ,

I whipped up a quick example. A couple of notes:

1) GUIX only supports creating ALPHAMAP gradients today, which means it generates an 8bpp alphamap and you can then runtime assign the color used to draw the alphamap by initializing your brush. That's probably what you want anyway (that's what everybody wants!) but just to make sure you understand what's happening.

2) I purpos

[2021-06-07 20:02] #21 closed

[2021-06-08 15:41] RickMenza commented on #21
Hi Ken,

Thank you very much. Your example help me to understand the gradient functionality and I am now able to do what I want in my application.

Have a nice day!
Regards,
Richard

De : Ken Maxwell ***@***.***>
Envoyé : 7 juin 2021 16:03
À : azure-rtos/guix ***@***.***>
Cc : Richard Jobin ***@***.***>; Mention ***@***.***>
Objet : Re: [azure-rtos/guix] How drawing gradient color (#21)

Hello @Ri

[2021-06-17 20:18] Merc359 opened #22 "Crash while generating"
Hi,
I'm getting a Guix Software crash when I try to generate ressources.
Is there a log file somewhere I can send you and where is it located?

Thank you.

[2021-06-17 21:56] jdeere5220 commented on #22
@Merc359 I'm probably going to need your project so that I can duplicate the issue. Can you zip everything up for me? We would never disclose your project outside our immediate need to replicate the issue.

[2021-06-18 13:56] Merc359 commented on #22
Hi Jdeere,
I could send you our code via wetransfer or another way. Can you give me your email address so I can proceed?
Thank you

[2021-06-18 19:19] jdeere5220 commented on #22
Hello @Merc359 , please use ken.maxwell@microsoft.com  Thanks!

[2021-07-15 00:40] CYG01571 opened #23 "Lib file for GUIX Studio version 6"
Hi

I'm developing a GUIX application on Visual Studio 2019 Professional(Windows10).
I used to use the library files deployed in the folder "C:\Express_Logic\GUIX_Studio_5.6\win32_runtime".
I would like to upgrade the GUIX studio to the version 6 Azure RTOS GUIX Studio.
Could you provide these library files for version 6?
ex. gx.lib, gx_api.h, gx_port.h, gx_user.h, tx.lib, tx_api.h, tx_port.h

Bes

[2021-07-15 12:57] jdeere5220 commented on #23
When you install the latest GUIX Studio from the Microsoft Store, it will prompt you to clone the GUIX source code repo from github to your local machine. The files you are looking for are included in the GUIX repo under /ports/win32. You can build gx.lib yourself using ports/win32/guix.sln, and the threadx lib and headers are pre-built for you in ports/win32/lib/vs_2019 folder. All of the example

[2021-07-15 12:57] #23 closed

[2021-07-16 00:30] CYG01571 commented on #23
Thank you for your kind reply!
I'll try it.

[2021-08-13 02:45] lixinlv opened #24 "Set display orientation during running"
Hi,
In my project, it needs to set the display oratation of LCD according to the placement position during operation, sometimes 90 degrees(clockwise or counterclockwise) and sometimes 180 degrees.
Previously used GUI_SetOrientation() in emWin is implemented. No similar function is found in GUIX. Can it be added in GUIX later versions?
Thanks.

[2021-08-13 12:48] jdeere5220 commented on #24
I will add this our our backlog. However, be advised that in order to implement 90/180/270 degree rotation with no runtime overhead, we utilize GUIX Studio to produce the resource data in the rotated format. So supporting this application requires configuring each rotation as a different display in the GUIX Studio project, and producing a resource file and display instance for each rotation angle.

[2021-08-14 02:19] lixinlv commented on #24
Hi jeddre5220,
Thanks for your reply.
Designing an respective instance for 0/90/180/270 degrees is a solution, but code will be increased. If the 0/180 degree interface can share the same resource and instance, code will be greatly reduced. So is 90/270 degrees. If API can provide rotation function, GUIX studio can design two interface instances for 0 and 90 degrees, in this way code can be half r

[2021-08-25 13:12] Merc359 opened #25 "Can't add pixelmap horizontal bar in string scroll wheel"
Hi,

I'm trying to add a horizontal bar between every strings in my scroll wheel,
but it only displays one of them.

Thanks

[2021-08-25 14:03] jdeere5220 commented on #25
I think you will need to use a generic scroll wheel, using gx_generic_scroll_wheel_create(). A string scroll wheel only accepts strings for each row. You will probably need to create a widget that is a window containing a string and a horizontal scroll, and populate the scroll wheel with instances of this combination widget. Hope this makes sense, let me know if you need more input.

[2021-10-24 05:54] Fiebbo opened #26 "Off by one bug in win32 display driver"
The win32 simulation draws a single pixel white line on the right and bottom of the window. To fix, append a `-1` to the following lines.

https://github.com/azure-rtos/guix/blob/890c37ab95df9a87f169ab157cf1ce5e40d4e68b/ports/win32/src/gx_win32_display_driver.c#L1202-L1203

[2021-11-08 23:11] brhans-acuity opened #27 "Menu Widget Text Alignment"
The 'Text Align' attribute applied to a 'menu' widget in GUIX Studio is not respected in the generated code.
In my project, I have a 'tree_view' which in turn contains a number of 'menu' widgets.
For each 'menu' widget I have set the 'Text Align' attribute as 'Center', and the text is displayed correctly center-aligned in GUIX Studio.

When I save the GUIX .gxp project and inspect the XML code, I

[2021-11-09 14:22] jdeere5220 commented on #27
@brhans-acuity thank you for the very thorough description! Based on your description alone, I can pretty confidently say this is a bug (sorry to restate the obvious). I will enter a bug in our backlog right away and get this fix into our next patch release. I will try to notify you when that is posted, but if I forget and you don't hear back please ping me. I would expect we can have this update

[2021-11-09 14:39] brhans-acuity commented on #27
Hi Ken,
Thanks for the speedy response.
Is there somewhere ‘official’ I could submit feature requests for GUIX Studio?
I’ve spent a fair amount of time recently using other GUI creation tools (mostly Embedded Wizard - https://www.embedded-wizard.de/), and I feel like there are some features which would really make GUIX more “powerful”.
My biggest request would be around making it easier to re-use

[2021-11-09 15:29] jdeere5220 commented on #27
Hello @brhans-acuity ,

As far as submitting feature requests, we are a pretty small team and we are all notified of queries made here. When someone requests a reasonable addition I add it to the "customer requests" Feature of our task backlog in DevOps, so it's not lost as long as I do that step! The hardware question is when we will a particular ask completed. Bug fixes take priority, but simple

[2021-11-18 13:37] brhans-acuity opened #28 "Macros incorrectly terminated with a semicolon"
I've noticed 2 macros in gx_api.h are incorrectly terminated with a semicolon:
 - gx_single_line_text_input_buffer_clear on line 4778
 - gx_single_line_text_input_buffer_get on line 4779

I haven't spotted any others, but I haven't done an exhaustive search.

[2021-11-18 16:03] jdeere5220 commented on #28
Thanks for the feedback, and thanks for spotting this. It's been fixed, and the fix will be in the next scheduled update release.

[2021-11-24 09:02] WeizhongFan opened #29 "The circle of the needle of circular gauge is not fixed when needle rotates"
It can be reproduced by the official example demo_guix_widget_types.

When we change the gauge value, the needle rotates. But we can see that the circle of needle shifts a bit both vertically and horizontally along with the angle change.

![needle](https://user-images.githubusercontent.com/77432269/143207039-ec3a756a-463a-43bd-ab34-43235e6ae066.jpg)

[2021-11-24 09:22] ting-ms commented on #29
Please make sure the property "Needle Xcor" and "Needle Ycor" are set properly.
<img width="264" alt="circular_gauge_properties" src="https://user-images.githubusercontent.com/65648712/143209645-cc5d8ade-a636-4ab2-8c6c-88db17700008.png">

"Needle Xcor" is the distance from the left of the needle image to the center of rotation of the gauge needle.
"Needle Ycor" is the distance from the top of the

[2021-11-24 10:24] WeizhongFan commented on #29
Hi, Ting

Thanks for the quick reply.

I set exactly same params as you, but the shift can still be seen. It's very little shift, looks like just 1 pixel. But we're making a smart watch, and we use it for a second needle of a watch face. The second needle keeps rotating, so the shifts is observable by users.
![Uploading f105bc374d57bd1e736168ad2d80255.jpg…]()
![4b8ba24bb18c3fef30df43240edfbd5](htt

[2021-11-24 10:25] WeizhongFan commented on #29
Upload again.

![f105bc374d57bd1e736168ad2d80255](https://user-images.githubusercontent.com/77432269/143220911-209d00a2-8755-4969-a0d2-b8663d350654.jpg)

[2021-11-25 01:41] ting-ms commented on #29
GUIX supports integer numbers only for the Needle Xcor and Ycor. The specified Xcor and Ycor are not exactly the center of the circle(half pixel error). That may cause drifting when rotating. My recommendation is to change the needle image so that the actual coordinates of the circle center are integer numbers.

[2021-11-30 14:47] #17 closed

[2021-11-30 14:48] #19 closed

[2021-11-30 14:49] #20 closed

[2021-11-30 14:49] jdeere5220 commented on #22
Fixed in GUIX Studio update 6.1.8.0

[2021-11-30 14:49] #22 closed

[2021-11-30 14:53] jdeere5220 commented on #24
The way our code generation for rotated display works today, we want to be able to fully utilize any underlying hardware accelleration for 0/90/180/270 rotation, so we generate the resource data such that it can be streamed out in all rotation angles just like it is done for no rotation. I have added this suggestion to our backlog but I can't say how quickly we can investigate further.

[2021-11-30 14:53] #24 closed

[2021-11-30 14:53] #25 closed

[2021-11-30 14:54] jdeere5220 commented on #26
Fixed for 6.1.9.0 release.

[2021-11-30 14:54] #26 closed

[2021-11-30 14:54] jdeere5220 commented on #27
Fixed for 6.1.9.0 release.

[2021-11-30 14:54] #27 closed

[2021-11-30 14:55] jdeere5220 commented on #28
Fixed for next release.

[2021-11-30 14:55] #28 closed

[2021-11-30 14:58] jdeere5220 commented on #29
Hello @WeizhongFan,

Can you make the change suggested and does this fix the issue? I need to know if we can close the issue or if we need to add a task to our backlog to investigate sub-pixel coordinates.

[2021-12-01 04:10] lixinlv commented on #24
Hi jeddre5220,
Thanks for your reply.
I'm looking forward to your further upgrade.

[2021-12-08 00:15] CYG01571 opened #31 "We want to install GUIX Studio locally"
Hi!

We have used GUIX Studio on Windows10 at company.
We can't download from the Store app due to company IT policy.
Previously, Windows installer was prepared, could you prepare a package that can be installed locally?

[2021-12-08 02:49] bo-ms commented on #31
@yuxin-azrtos any comments on this issue? thanks.

[2021-12-08 03:41] yuxin-azrtos commented on #31
@CYG01571 please contact azure-rtos-support@microsoft.com and the support team can help you.

[2021-12-14 05:29] CYG01571 commented on #31
Thank you, @jdeere5220 .

The latest version of GUIX Studio is V6.1.7.0 at Microsoft Store.
Renesas provides GUIX Studio software at their site, the version is V5.6.1.0.
And they declare that they don't provide the latest version software any more, download at Store...
(https://www.renesas.com/jp/en/software-tool/guix-studio)
 So I have questioned at this site...

 Best Regards.

[2021-12-15 15:23] jdeere5220 commented on #31
@CYG01571 thanks for the feedback. To clarify, the latest version we have posted to the Microsoft App Store is version 6.1.9.2. This is a minor patch/bug fix to correct a reported error. We have provided the standalone installer link to Renesas for every version up to 6.1.9.1.  It is my understanding that we want to encourage developers to use the App Store version for security reasons. We are abl

[2021-12-15 16:16] #31 closed

[2021-12-16 05:57] CYG01571 commented on #31
Thank you for your effort, @jdeere5220 !

OK. I'll try it.
I try to send e-mail to microsoft.

Best Regard

[2021-12-17 02:10] yam-mas opened #32 "In rare cases, the sprite does not stop updating."
Hello.
I use gx_sprite_start() to start updating sprites, and then call gx_sprite_stop() to stop the sprite updating, but in rare cases the sprite updating does not stop.
In this case, I found out that _gx_system_timer_stop(), which is called in gx_sprite_stop(), is causing an error.

In the normal flow
gx_sprite_start()
=>
gx_system_timer_update()
=>
At timer expiration
_gx_system_timer_stop()
=>

[2021-12-17 15:13] jdeere5220 commented on #32
@yam-mas thank you for the report, we will investigate and report back to you.

[2021-12-17 17:01] jdeere5220 commented on #32
@yam-mas I believe we have found and fixed the issue. The fix will be in our next patch release (January I believe), but if you need the fix right away please provide your email address and I will send you the modified file directly.

[2021-12-19 23:52] yam-mas commented on #32
@jdeere5220, thanks for the quick response.
If it will be included in the next patch release, you don't have to send it to me via email.
Thank you!

[2021-12-20 16:58] jdeere5220 commented on #32
@yam-mas Actually since you are able to reproduce the problem I would prefer to get the change to you prior to our next release and confirm we have the issue fixed. Either way is fine.

[2021-12-21 23:31] Fiebbo opened #33 "Threads with priority lower (higher value) than win32_driver_thread don't get scheduled"
Obviously this is only an issue on the win32 build, I'm not sure why it happens but a quick fix is to set the priority of the driver thread to `TX_MAX_PRIORITIES - 1`. Will this have any unwanted side effects?
https://github.com/azure-rtos/guix/blob/890c37ab95df9a87f169ab157cf1ce5e40d4e68b/ports/win32/inc/gx_port.h#L92-L96

[2021-12-22 00:06] yam-mas commented on #32
@jdeere5220, thanks for the reply.
I can check the effect of the fix, but I was concerned about putting my email address here.
Is it possible to attach a file to this web form?

[2021-12-22 00:27] TiejunMS commented on #32
@yam-mas , one possible solution to avoid public your email is to send an email to azure-rtos-support@microsoft.com. We can reply you directly.

[2021-12-22 00:35] yam-mas commented on #32
TiejunMS, thanks for the reply.
I've just sent you an email.
Thank you for your time.

[2021-12-22 02:42] ting-ms commented on #33
Hi Fiebbo, this is an issue in Win32 driver, we'll fix it in the future. For now, you can set a lower priority to win32_driver_thread so that your threads can get scheduled.

[2021-12-23 19:27] jdeere5220 commented on #32
Sent the modified source file.

[2021-12-23 19:27] #32 closed

[2022-01-17 04:16] yuntian365 opened #34 "may surport extend spi flash?"
in most project ,it can not using the extend flash  as qspi flash with remaped function, only using spi flash to save font or image data ,
if we can us extend spi flash to read glyphs, i think the function is very helpful

[2022-01-18 01:19] yuntian365 commented on #34
The function of reading and writing external memory is placed in the thread. I think it is acceptable for users. For example, touchgfx adopts this method. For users who have such needs, it can connect to a slower screen. For the refresh rate, you can consider making the read graphics and font data into a function pointer, which is implemented by the user, so that it has good applicability. Not sur

[2022-01-18 01:22] yuntian365 commented on #34
Many chips have dma function, reading spi flash can also be very fast, of course, it is slower than internal flash

[2022-01-18 18:31] jdeere5220 commented on #34
Hello @yuntian365 ,

Thanks for your feedback. I want to be 100% sure we are on the same page. Depending on the hardware architecture, it might be possible to directly read external SPI flash through a pointer, or it may require invoking a hardware-specific routine to read the SPI flash data. So I want to know which situation you are requesting.

If the external flash data is directly accessible v

[2022-01-19 01:39] yuntian365 commented on #34
hi, @jdeere5220,
Thank you for your reply, yes, this requirement is applied to those spi flash that cannot be read directly through pointers. This kind of flash is not supported by MCU to read in a mapped way, and the resource data needs to be written by the user "ReadDataOverSPI()" to read, such as read_flash_byte(dev*, uint32_t adr, uint8_t *buf, uint16_t len) to read the required bytes, this re

[2022-03-23 20:43] brhans-acuity opened #35 "Drop-List doesn't render "complex" widgets correctly"
If I create a template consisting of a simple window with a text prompt as its child, and then use this template widget for the items in a drop-list, then the drop-list's draw function does not render the child text prompt when drawing the selected item into the drop-list's client area.

This behavior seems to come from the code in _gx_drop_list_draw() which changes the 'size' and 'clip' members o

[2022-03-23 21:04] jdeere5220 commented on #35
This certainly looks like a bug, thanks for the detailed report. I've entered this in our backlog and we will include a fix for the end-of-April release. Do you need an immediate patch? If you do, please email azure-rtos-support@microsoft.com so that we can email the updated file(s) to you directly.

[2022-04-26 06:31] HelloByeAll opened #36 "Canvas uses dynamic memory, no malloc memory for canvas?"
Now I don't have it checked in Studio ` alloccate canvas memory `，

gx_canvas_create.c -> _gx_canvas_create(...)
It works fine after adding the following code on line 113, otherwise the canvas memory is not assigned

[code]

[2022-04-26 12:03] jdeere5220 commented on #36
I feel I might be missing part of the question or the history, but I can comment on what I see. You are 100% correct, GUIX does not automatically invoke your dynamic memory allocator to reserve the canvas memory. Embedded systems are diverse with often very precise needs for where things are placed, especially large things like canvas memory buffers. Often various hardware requires the canvas memo

[2022-04-26 12:17] HelloByeAll commented on #36
Thank you for your answerThank you for your answer

[2022-04-26 12:17] #36 closed

[2022-06-21 04:04] wlyly1 opened #37 "bug about guix\samples\demo_guix_car_infotainment\volume_screen_base.c"
UINT volume_progress_bar_event_process(GX_PROGRESS_BAR *bar, GX_EVENT* event_ptr)
{
 ............
//  this should be fixed like this:
    VOLUME_SCREEN_BASE_CONTROL_BLOCK *base = (VOLUME_SCREEN_BASE_CONTROL_BLOCK *)bar->gx_widget_parent->gx_widget_parent->gx_widget_parent;

[2022-06-22 02:24] Barfell opened #38 "how to porting the guix to freertos?"
there has a question, some guix wiget need dynamic memeory, need the tx_byte_pool_create() function, but the function in the threadx.
how to fix it?

	/* create a byte pool to use for rotating the needle bitmap */
	tx_byte_pool_create(&memory_pool, "guix", guix_pool_memory, 1024);

	/* install our memory allocation / de-allocation routines */
	gx_system_memory_allocator_set(memory_allocate, memory

[2022-06-22 02:50] Barfell commented on #38
I'm defined a text prompt,and a timer,in the timer int, refresh the text. the text not change.
but ,test guix + theadx,the text refreshed. because used the function tx_byte_pool_create();

UINT _cbEventWindow_language(GX_WINDOW *widget, GX_EVENT *event_ptr)
{
    static uint32_t count = 6;
    char buf[1] = {0};

    switch (event_ptr->gx_event_type)
    {
        /* 控件显示事件 */
        case GX_EVEN

[2022-06-22 12:11] azeater commented on #18
Just wondering if there's been any update on this? The idea of partial frame buffers is quite appealing in memory-constrained scenarios.

[2022-06-22 13:25] jdeere5220 commented on #38
For the byte pool question, GUIX basically leaves it up to the application to define how the thread-safe heap works. If you want to use features that require dynamic memory, you need to implement a memory alloc/free function set using FreeRTOS. I am not familiar enough with FreeRTOS to provide you an example, but they must have functions similar to the ThreadX byte pool functions.

[2022-06-22 13:41] Barfell commented on #38
thank a lot ,the timer event happening, the memory alloc/free function need Implement。
I`m use freertos + st emwin, in the emwin soft timer event, refresh the text, but，dozens of days，the text not refresh, can not online debug, so ,the B plan is use freertos + guix, only need to change the graphics driver。

[2022-06-22 13:43] jdeere5220 commented on #18
@azeater we have this task in our backlog but it's not going to make into the July update release. We should be able to tackle this for the next update release after July.

[2022-06-22 13:46] jdeere5220 commented on #38
Let me know if you have any questions about the memory alloc/free implementation. The private text copy prompt style also requires a dynamic memory pool.

[2022-06-22 13:51] Barfell commented on #38
I do not know hao to implement the alloc/free function in guix, it looks a bit complicated. very amateurish in programming. In most cases, use middleware。

[2022-06-22 14:01] Barfell commented on #38
the threadx alloc/free function ,looks use linked list.

[2022-06-22 14:41] Barfell commented on #38
It is not clear, never studied the FREE RTOS kernel implementation in depth, usually use the encapsulated functions directly, should have, the memory management service,I`m  try to port it.

[2022-06-25 07:44] flyflyfly001 opened #39 "Is it possible to use GUIX Studio export font resource as a bin file seperately ?"
Hi , we already know that GUIX Studio is able to export all resource data as a bin file. However, font resource are usually very large, which is not efficient when doing OTA with BLE. In most situlation, pixelmap and strings may need to upgrade while font is not. It is very friendly if we can load font resource and other resource seperately. Any reply would be much appreciated.

[2022-06-26 03:57] Barfell opened #40 "How do I send different events after pressing a button?"
How do I send different events after pressing a button? Different interfaces, the same buttons also have different functions and need to send different events. How to deal with this?
the device no touch panel, only physical keys,

[2022-06-27 08:48] flyflyfly001 commented on #38
Hi Barfell, you can reference this memory allocate/free function

VOID* memory_allocate(ULONG size)
{
    return pvPortMalloc((uint32_t)size);
}

VOID memory_free(VOID* mem)
{
    vPortFree(mem);
}

[2022-06-27 12:48] jdeere5220 commented on #39
You should have full control over what is placed in the generated resource file, both when using GUIX Studio UI environment and from the command line. If I am missing something from your question please follow up.

[2022-06-27 13:17] jdeere5220 commented on #40
The simplest way would be to change the button ID at runtime. We don't have an "id_set()" api, but nothing prevents you from doing something like this:
button->gx_widget_id = USER_DEFINED_ID

The event generated by a button is always a combination of the widget ID and the event action, so this will change the event generated by the button.

[2022-06-27 13:32] int-bio commented on #39
We have done this in order to move the fonts and bitmaps to external flash.  I cannot give you the script, but I can give you a hint as to what you must do.

============================================================
1.	Understanding the Main Tables
    GUIX is designed to support multiple themes.  A Theme describes how the screens
    will look to the user.  Our project currently supports one t

[2022-06-28 01:58] Barfell commented on #38
I'm try to port the code, I found the tx_byte_allocate can specify the size.

UCHAR guix_pool_memory[64];

/*******************************************************************************/
VOID *memory_alloc(ULONG size)
{
    VOID *memptr = NULL;

		memptr = /*(MEM_BLOCK_t *)*/osMemoryPoolAlloc(guix_pool, 0U);
		if(memptr != NULL)
//    if (tx_byte_allocate(&guix_pool, &memptr, size, TX_NO_WAIT) =

[2022-07-01 07:44] flyflyfly001 commented on #39
@int-bio Hi, int-bio, thanks for your reply. I want to use XIP mode instead of load resource to SDRAM. I'm studying the GUIX source code. If there is any result, I will share with you.

[2022-07-19 02:54] flyflyfly001 commented on #39
Yes, that's correct. We can generate fond resource as a bin file, and use **gx_display_font_table_set** to load font table to current display. Thanks a lot.

[2022-07-19 02:55] #39 closed

[2022-07-27 09:38] BeeeeeeLazy opened #41 "Does GUIX support software layer？"

[2022-07-27 13:54] jdeere5220 commented on #41
Yes, at many levels. You can create multiple drawing canvas, and they will be blended together in a composite canvas. You need to create the composite canvas sometime during startup, using the GX_CANVAS_COMPOSITE canvas style. You can also bind canvases to hardware graphics layers (if supported in hardware) using gx_canvas_hardware_layer_bind(). On a more basic level GUIX keeps track of z-order fo

[2022-08-08 01:38] flyflyfly001 opened #42 "Can generic scroll wheel be used as a horizontal scroll wheel ?"
Hi, there
      We want to use a horizontal scroll wheel. But the default scroll wheel that GUIX have is in vertical direction. Can generic scroll wheel be used as a horizontal scroll wheel ? Or is there any much better way to realize a horizontal scroll wheel ? Any help would be much appreciated.

[2022-08-08 05:39] JoelSchofield opened #43 "Can resource data in binary file format be loaded from FileX?"
I have external NOR Flash that is formatted with Azure FileX, and am wondering if I can use `gx_binres_theme_load` or similar to load a resource data binary file that is stored on the filesystem?
From my understanding I would need to expose the file's data as a raw pointer, which would require copying the file to RAM first (not an option given RAM constraints). Is there some functionality I'm miss

[2022-08-08 21:05] jdeere5220 commented on #43
gx_binres_theme_load isn't designed to work from a file. The function dynamically creates resource tables, i.e. tables of pointers to the resource data. Pointers of course must point to directly accessible memory, not to a filesystem. People usually use flashing tools provided by their silicon provider or with their debugging tools to program the resource data to the external flash memory. Can you

[2022-08-08 21:17] jdeere5220 commented on #42
Unfortunately our scroll wheel widgets are designed for vertical orientation. Event processing, child positioning, wheel wrapping, rows, row-height, etc.. all designed for a wheel that scrolls up and down.

That said, we are always on the lookout for new widgets or adding new styles to existing widgets. I will look into it and see if it makes sense to add support for horizontal orientation to the

[2022-08-09 00:05] JoelSchofield commented on #43
The external flash we have is controlled over the FSMC bus, and involves setup commands to place into read-mode before reading a section of data. Heres the snippet from the STM32F4 HAL library `HAL_NOR_ReadBuffer` func:

[code]

Perhaps `gx_binres_theme_load` would work if we configured the flash for 8bit reads and left it in read-mode, however FileX would be regularly performing reads/writes to t

[2022-08-09 02:25] flyflyfly001 commented on #42
Thanks for you reply. I just read the generic scroll wheel source code. The logic can be shared with horizontal scroll wheel except row and row height handling. I will try to realize it by myself.

[2022-08-09 16:14] jdeere5220 commented on #43
If you clone or have cloned the GUIX repository (GUIX Studio will do this for you), you should see guix/tutorials/demo_guix_binres, which is configured to run either on the desktop (using a filesystem to load the resource data to a block of RAM) or the STM32_F439xx target board (resource data pre-loaded to NOR flash). This should be a useful example for you.

We are working with another customer o

[2022-08-10 01:48] #42 closed

[2022-08-11 01:45] JoelSchofield commented on #43
Thats understandable, I appreciate the help! The demo_guix_binres STM32F439 project uses a similar NOR Flash configuration as my project which is very convenient. Like you originally said if I can have a section of the NOR Flash for binres and the remainder for FileX then that will be the ideal solution; I'll just need to be confident that they dont clash when FileX needs to performs writes etc.

[2022-08-11 01:45] #43 closed

[2022-08-11 04:12] LiuChenghu opened #44 "为什么会进Hardfalut"
![54d87a86fa15889ad06fe53c267153c](https://user-images.githubusercontent.com/30891935/184063599-32f5bc91-efb0-4814-a8cd-4872fdf49d39.jpg)
在如图所示的地方进Hardfalut,这什么原因导致的呢。

[2022-08-11 15:30] jdeere5220 commented on #44
I'm going to need quite a bit more information here. Can you tell me what the application is doing that leads to this? Has the child widget somehow been attached to multiple parents?

[2022-08-11 16:06] LiuChenghu commented on #44
使用的是ThreadX + GuiX，做的是一个小弹窗，弹出一个小的界面，这个现象不是每次都会出现进入Hardfault,而是偶尔出现一次。
![image](https://user-images.githubusercontent.com/30891935/184177888-33f44ba0-cfb2-4027-a32e-a8d702eef62f.png)从图中进入，小弹窗，下面是这个图片是弹窗的实现
![image](https://user-images.githubusercontent.com/30891935/184178632-ab7c756a-7f9f-4907-b139-8e135c09ba74.png)
显示的静态内容如下
![image](https://user-images.githubusercontent.com/30891935/184178714-52

[2022-08-11 18:56] jdeere5220 commented on #44
I don't like that last line:

**g_pPopPartTimeScreen->gx_widget_parent = parent;**

You shouldn't directly assign the gx_widget_parent member. There could be another parent that already has g_pPopPartTimeScreen as a child, which would lead to the issue you originally reported. You should use an API, such as

gx_widget_attach(parent, g_pPopPartTimeScreen);

instead. That will automatically detach t

[2022-09-14 14:13] michalk-exi opened #45 "Touchscreen driver implementation and possibly dead code"
While I've been working on implementing touchscreen driver, I've stumbled across the `gx_touch_driver_generic_resistive.c` file. It looks pretty promising and nicely implements all the structures for tracking touch state and generating all needed events (maybe missing the `GX_EVENT_PEN_HOLD` - which doesn't exist, but that's something for another ticket). The only problem is, that this file looks

[2022-09-14 15:59] jdeere5220 commented on #45
Hello @michalk-exi ,

Good question(s). So the generic resistive touch driver isn't really obsolete, but it isn't structured the same as the display driver. I'm open to suggestions as far as how to make it a little bit more user friendly. I was going to send you an example that uses this generic resistive driver, but it seems all of our dev boards for the last couple of years utilize capacitive to

[2022-09-14 16:16] jdeere5220 commented on #45
[gx_efm32gg_touch_driver.zip](https://github.com/azure-rtos/guix/files/9568094/gx_efm32gg_touch_driver.zip)

Attached a real-hardware example that might be helpful.

[2022-09-15 09:20] michalk-exi commented on #45
Hi @jdeere5220,

Thanks for all your help, I especially appreciate the real world example of a driver. It also has reference values for stuff like `gx_resistive_touch_max_retries` and `gx_resistive_touch_sample_size` which is especially useful as it is impossible to find them anywhere else.

And yes, I'm working with resistive touchscreen, so to me all that will be very useful, thanks again.

I've

[2022-09-19 13:18] flyflyfly001 opened #46 "gx_binres_theme_load consumed to large RAM"
Hi there,
     I'm using GUIX Studio generated font resource as a binary file. The binary file is about 10MB. I put the bin file to external qspi flash and maped the flash to MCU with XIP mode. When I use gx_binres_theme_load function to load the font table. The memory allocate is failed. Because my MCU has only 600KB ram. But this function try to malloc 1572KB memory. Why this function need to mu

[2022-09-19 16:18] jdeere5220 commented on #46
Hello @flyflyfly001,

For fonts, there are two pieces of data for each glyph. First is the GX_GLYPH structure, which contains details about the glyph width, height, baseline, advance, and a pointer to the glyph data. The second piece is the actual glyph rendering data, which (depending on format) is an alphamap that determines the glyph appearance.

The way the binary data load works today, we cre

[2022-09-21 08:29] SheryWang opened #47 "GUIX Studio Rotation setting does not take effect"
GUIX Studio Rotation setting does not take effect，CW/CCW generating data makes no difference...
How do I use GUIX Studio to change my screen from horizontal to vertical

[2022-09-21 09:59] fyale opened #48 "UI框架咨询"
[https://www.armbbs.cn/forum.php?mod=viewthread&tid=115460&extra=](url)
ui框架咨询

[2022-09-26 02:39] flyflyfly001 commented on #46
Hi @jdeere5220
    I stepping through _gx_binres_theme_buffer_allocate() and make sure that it allocate large memory. Because I need to use a lot of _Kanji Ideographs_ characters. This will take a lot of storage space. And at the same time, may need to consume large memory to store GX_GLYPH.
    I have found another way to solve this problem. I generate font resource as a source file instead of bi

[2022-09-26 02:39] #46 closed

[2022-09-26 14:55] jdeere5220 commented on #47
Hello @SheryWang,

Can you tell me a little bit more about your environment? What color depth are you using, and what is your hardware target?

The screen rotation settings are intended to be used when your display is not mounted on your device in native orientation. In that case GUIX Studio generates resource data such that rendering is still optimal without requiring any special acrobatics on th

[2022-10-09 21:06] emixa-d commented on #4
I stumbled upon this issue, and noticed ...

... that according to your (as in, this project's) own release notes (https://web.archive.org/*/https://github.com/azure-rtos/guix/releases/tag/v6.0_rel), the initial version is in 2020), not 2012.  Compares to GNU Guix, GNU Guix first v1.0.0 release was in 2019 (before Azure RTOS Guix!), according to 'git log'.

(There are also pre-1.0.0 releases from

[2022-10-10 17:22] BonfaceKilz commented on #4
emixa-d ***@***.***> anaandika:

+1 for pointing this out!

--
(Life is like a pencil that will surely run out,
    but will leave the beautiful writing of life.)
(D4F09EB110177E03C28E2FE1F5BBAE1E0392253F
    (hkp://keys.openpgp.org))

[2022-10-10 19:30] goldscott commented on #4
@emixa-d @BonfaceKilz - GUIX was actually released back in 2013, before Microsoft acquired Express Logic. Here's a link from wayback machine: https://web.archive.org/web/20131205113407/http://expresslogic.com/

When Microsoft acquired Express Logic, we started with fresh dates at version 6.0.

[2022-10-11 02:26] #33 closed

[2022-10-11 02:27] #34 closed

[2022-10-11 02:28] #29 closed

[2022-10-11 02:30] #35 closed

[2022-10-11 02:31] #40 closed

[2022-10-11 02:32] #41 closed

[2022-10-11 17:59] BonfaceKilz commented on #4
Scott Larson ***@***.***> aliandika:

Thanks for this clarification.  This issue's
thread will indeed serve as a reference point to
clear up things for the curious internet nomad.

Just my 2 cents, but I hope that this doesn't
escalate to a flame war :)

Both cases make sense.  And optimistically, I'd
say this was a[n] [un]fortunate coincidence
depending your perspective.

That said, this would be

[2022-10-11 23:45] goldscott commented on #4
@BonfaceKilz - all of the other Express Logic products had similar names (ThreadX, USBX, NetX, FileX), so it seemed only natural to name the GUI product "GUIX."

[2022-10-16 02:22] jiale-gdyd opened #49 "Any case porting port_smp/linux/gnu causes a deadlock"
[DRMMEDIA][I]: Enable vo channel:[1] starting......
[DRMMEDIA][D]: DrmDisplay flow params:[name=drm_output_stream
 device=/dev/dri/card0
framerate=0
plane_type=Overlay
ZPOS=1
output_data_type=image:argb8888
]
[DRMMEDIA][I]: open /dev/dri/card0 = 4
[DRMMEDIA][I]: suitable ids:
	connector:	56
	encoder:	55
	crtc:	53
	plane:	54
[DRMMEDIA][I]: conn id:[56], enc id:[55], crtc id:[53], plane id:[54], w/h

[2022-10-18 01:12] jiale-gdyd commented on #49
Hi,
    I am currently using Debian11, using X11 display driver, porting yes threadx is threadx/ports_smp/linux/gnu/, The case used by guix is guix/samples/demo_guix_industrial/. I am debugging using project github address is [https://github.com/jiale-gdyd/gui_project.git]. You can clone the project and run [./build.sh host_azure_gui] in the root directory of the project to generate the azure_gui

[2022-10-18 13:53] jdeere5220 commented on #49
OK that you for the additional information. We are closing out our next patch release but this is first on my list as soon as we wrap up the current update.

[2022-10-20 02:34] ting-ms commented on #48
Advise is given in the linked channel, closing the issue.

[2022-10-20 02:34] #48 closed

[2022-10-20 02:46] ting-ms commented on #37
Thank you for the advice! We will fix this in the next release.

[2022-10-20 02:46] #37 closed

[2022-10-20 03:04] #45 closed

[2022-10-31 17:05] RodneyRichardson opened #50 "GUIX Studio generates incorrect callback signature for GX_STRING_SCROLL_WHEEL_PROPERTIES"
Using GUIX Studio 6.2.0 (also tested on 6.1.12):
* create a new project,
* add a string scroll wheel to the main window
* generate the specification files

GUIX Studio generates a `GX_STRING_SCROLL_WHEEL_PROPERTIES` struct in the `specifications.h` file. The `callback` signature incorrectly contains a `GX_NUMERIC_SCROLL_WHEEL_STRUCT`.

[code]
It should be:
[code]

This can be seen in one of the tu

[2022-10-31 17:35] jdeere5220 commented on #50
Hello @RodneyRichardson,

Thank you for reporting this! I have duplicated the result in my office. We will get this fixed and get an update pushed asap.

Best Regards,

Ken

[2022-11-04 19:51] jdeere5220 commented on #50
Hello @RodneyRichardson ,

Just to let you know the fix has been merged and an update is being pushed to the App Store. You should received the udpated 6.2.0.1 release automatically within a day or two. I'm going to go ahead and close the ticket, but feel free to re-open it if the 6.2.0.1 patch doesn't address your issue.

[2022-11-04 19:51] #50 closed

[2022-11-07 03:49] jiale-gdyd opened #51 "_gx_system_font_8bpp Define and declare issues"
1.In line common/src/gx_system_font_8bpp.c:1133, GX_FONT _gx_system_font_8bpp = {GX_FONT_FORMAT_8BPP, 0, 0, 18, 13, 0x20, gx_font_format_8bpp, 0, 0, 18, 13, 0x20, 0x7e, {font_SansPro_Regular_ttf_18_aa}, NULL };
2.In line common/src/gx_binres_theme_load.c:34, it is extern GX_CONST GX_FONT _gx_system_font_8bpp;
3.It is also extern GX_FONT _gx_system_font_8bpp in the xxxx_resources.c generated using

[2022-11-07 03:50] jiale-gdyd commented on #51
Why not defined `GX_CONST GX_FONT _gx_system_font_8bpp = { GX_FONT_FORMAT_8BPP, 0, 0, 18,  13, 0x20, 0x7e, {font_SansPro_Regular_ttf_18_aa}, NULL };`

[2022-11-07 13:55] jdeere5220 commented on #51
Certainly looks like it should be declared const in all cases, but let me look into it a little further and get back to you. Thanks for the input.

[2022-11-28 06:53] flyflyfly001 opened #52 "Can GUIX Studio port boldtype font ?"
Hi, I have a .ttf  font package which contains several font type like bold/medium/regular/light and so on. Can I use GUIX Studio to port a boldtype font?  Or generate a runtime bold style from regular style?

[2022-11-28 15:22] jdeere5220 commented on #52
Can you send me the font please? Usually when a font contains several styles, it has the extension .ttc or "True Type Collection". In that case I believe GUIX Studio will allow you to choose a specific typeface from the collection. There isn't any ability to modify the font at runtime, so you need to produce a bold font using GUIX Studio.